<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.lukewaite.alfred-gitlab</string>
	<key>connections</key>
	<dict>
		<key>07D583FC-AFE3-47D1-8076-FF78BE066E4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D6A596A-AC0F-4636-BD4E-54393AF66480</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D6A596A-AC0F-4636-BD4E-54393AF66480</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CEA566D-1206-4BCD-B4B6-98744ED00ACB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26503076-7E71-48DF-BF35-88CBED38F543</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA4D035A-9ECF-4080-A991-B5265DBBAD37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>351629D0-4BED-4019-8E7E-151E71545F00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3380F22-0E4A-4095-B226-C78C9E123EC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DD49BD6-5445-4547-B438-E8B21E93DAE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6427010-7B56-4342-B5AC-85D22C5E5C50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6427010-7B56-4342-B5AC-85D22C5E5C50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A62E393E-7B4C-4097-90D8-01F20E5FF67D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C29BE46B-A223-4ADD-B933-2AC28716AC4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>478E5903-DF13-4546-8719-5E29A53D6016</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3380F22-0E4A-4095-B226-C78C9E123EC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C55543F5-EAD5-42A8-AD3E-518665F4AA34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C55543F5-EAD5-42A8-AD3E-518665F4AA34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C29BE46B-A223-4ADD-B933-2AC28716AC4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA4D035A-9ECF-4080-A991-B5265DBBAD37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>478E5903-DF13-4546-8719-5E29A53D6016</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC12EF8B-97E2-4DA6-989E-6E766336576D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26503076-7E71-48DF-BF35-88CBED38F543</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>351629D0-4BED-4019-8E7E-151E71545F00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4B73A0C-6F5A-4D72-9B21-0D4C3E8A1F90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2C85B17-7A64-4E39-A8D6-1B5F0C9E2A73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2C85B17-7A64-4E39-A8D6-1B5F0C9E2A73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7D91E46-3C58-4F20-B6A1-8E2C5D7F904B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40A79E4C-3135-491D-A9F6-31A7F359371D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30729D56-8C3D-4383-8348-A71ECCBA106A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30729D56-8C3D-4383-8348-A71ECCBA106A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDDFCB40-21C8-4F4C-B94E-46FA7586AFF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F74D9B7-EEE0-4666-B5D4-2478FA7AE687</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12F36B99-8EF0-4D27-BFD4-5AA673B97B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12F36B99-8EF0-4D27-BFD4-5AA673B97B23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>126C3851-9727-4A71-A74F-1C823C63B88D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A36CC8A-2C93-4152-9DDC-2AFB3A1F137B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA039462-C1DD-4DB7-ADBA-5472D4D7BD5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA039462-C1DD-4DB7-ADBA-5472D4D7BD5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCC091AB-25B9-4E98-A1E6-C151956B25C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>HRXWEB</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitLab</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:repo}/{var:subfolder}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>478E5903-DF13-4546-8719-5E29A53D6016</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>repo</key>
					<string>{query}</string>
					<key>subfolder</key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CA4D035A-9ECF-4080-A991-B5265DBBAD37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:quick_open}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>26503076-7E71-48DF-BF35-88CBED38F543</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching GitLab projects...</string>
				<key>script</key>
				<string>python3 gitlab.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for GitLab projects</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CC12EF8B-97E2-4DA6-989E-6E766336576D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Overview"},{"title":"Pipelines","arg":"-/pipelines"},{"title":"Issues","arg":"-/issues"},{"title":"Merge Request","arg":"-/merge_requests"},{"title":"Members","arg":"-/project_members"},{"title":"Graph","arg":"-/network/main"},{"title":"Settings CI/CD","arg":"-/settings/ci_cd"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Overview</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>C55543F5-EAD5-42A8-AD3E-518665F4AA34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>subfolder</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C29BE46B-A223-4ADD-B933-2AC28716AC4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:quick_open}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>351629D0-4BED-4019-8E7E-151E71545F00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>repo</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C3380F22-0E4A-4095-B226-C78C9E123EC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your GitLab API key has been saved.</string>
				<key>title</key>
				<string>Saved API Key</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8CEA566D-1206-4BCD-B4B6-98744ED00ACB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>glsetkey</string>
				<key>subtext</key>
				<string>Enter your GitLab Private Token and hit ENTER</string>
				<key>text</key>
				<string>Set your GitLab Private Token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>07D583FC-AFE3-47D1-8076-FF78BE066E4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 gitlab.py --setkey "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D6A596A-AC0F-4636-BD4E-54393AF66480</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 gitlab.py --seturl "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6427010-7B56-4342-B5AC-85D22C5E5C50</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>glseturl</string>
				<key>subtext</key>
				<string>Enter your GitLab URL and hit ENTER</string>
				<key>text</key>
				<string>Set your GitLab URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7DD49BD6-5445-4547-B438-E8B21E93DAE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your GitLab URL has been saved.</string>
				<key>title</key>
				<string>Saved API URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A62E393E-7B4C-4097-90D8-01F20E5FF67D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>glrefresh</string>
				<key>subtext</key>
				<string>Fetch your GitLab projects now</string>
				<key>text</key>
				<string>Refresh GitLab projects</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E4B73A0C-6F5A-4D72-9B21-0D4C3E8A1F90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 gitlab.py --refresh</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F2C85B17-7A64-4E39-A8D6-1B5F0C9E2A73</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Refreshed GitLab Projects</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A7D91E46-3C58-4F20-B6A1-8E2C5D7F904B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>glhostadd</string>
				<key>subtext</key>
				<string>Enter [name] &lt;api_url&gt; &lt;token&gt; and hit ENTER</string>
				<key>text</key>
				<string>Add or update a GitLab host</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>40A79E4C-3135-491D-A9F6-31A7F359371D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 gitlab.py --hostadd "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>30729D56-8C3D-4383-8348-A71ECCBA106A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>GitLab Host Saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CDDFCB40-21C8-4F4C-B94E-46FA7586AFF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>glhostlist</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading GitLab hosts...</string>
				<key>script</key>
				<string>python3 gitlab.py --hostlist</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List GitLab hosts</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3E649DB5-CEE0-4B3E-BBA4-03F5F29B3031</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>glhostremove</string>
				<key>subtext</key>
				<string>Enter the exact host name and hit ENTER</string>
				<key>text</key>
				<string>Remove a GitLab host</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5F74D9B7-EEE0-4666-B5D4-2478FA7AE687</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 gitlab.py --hostremove "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>12F36B99-8EF0-4D27-BFD4-5AA673B97B23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>GitLab Host Removed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>126C3851-9727-4A71-A74F-1C823C63B88D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>glhostdefault</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading GitLab hosts...</string>
				<key>script</key>
				<string>python3 gitlab.py --hostdefault-list</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Choose default GitLab host</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2A36CC8A-2C93-4152-9DDC-2AFB3A1F137B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 gitlab.py --set-default-host "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AA039462-C1DD-4DB7-ADBA-5472D4D7BD5C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Default GitLab Host Changed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DCC091AB-25B9-4E98-A1E6-C151956B25C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Setup and Usage

Commands

* `glhostadd [name] &lt;api_url&gt; &lt;token&gt;` adds a host, or updates the host with that name.
* `glhostdefault` opens a chooser for the default GitLab host.
* `glhostlist` lists every configured host, its cached project count, and its latest refresh state.
* `glhostremove &lt;name&gt;` removes the exact host name and its local state.
* `glrefresh` refreshes every host immediately.
* `gl my` opens the default host's personal-page menu first.
* `gl my &lt;host-name&gt; &lt;page-filter&gt;` drills into a non-default host and optionally filters its personal pages.
* `gl &lt;query&gt;` searches the combined projects from every configured host. Host names appear in result subtitles so matching projects remain distinguishable.

The optional name in `glhostadd` is useful for a friendly label. Without it, a domain is named from its hostname:

`glhostadd https://gitlab.example.test/api/v4/projects token-example`

The automatic name is `gitlab.example.test`. IP addresses retain their port when present:

`glhostadd http://192.0.2.10:8080/api/v4/projects token-example`

The automatic name is `192.0.2.10:8080`.

Refreshes are independent. If one host fails, other hosts still publish their new projects, the failed host keeps its previous cached projects, and the `glrefresh` notification reports refreshed and failed counts.

Compatibility commands `glsetkey &lt;token&gt;` and `glseturl &lt;api_url&gt;` continue to configure the default host. `glhostdefault` changes the host they use. GitLab.com remains the default API for a new installation.

`gl my` shows these nine default-host page mappings: Profile (`/&lt;username&gt;`), Starred projects (`/dashboard/projects/starred`), Snippets (`/dashboard/snippets`), Merge requests (`/dashboard/merge_requests`), Projects (`/dashboard/projects`), Issues (`/dashboard/issues`), Preferences (`/-/profile/preferences`), Dashboard (`/`), and To-do list (`/dashboard/todos`). Select a non-default host to drill into the same host-specific page menu; add a page filter after its name to narrow the choices. Profile resolves the signed-in GitLab username.

WARNING: Alfred Debugger output includes command input, including the token entered with `glhostadd` or `glsetkey`. Do not open or share debugger output while entering a token.

Enable the `Quick open` workflow configuration checkbox to skip the project page menu and open repositories directly.

Tested with Alfred 5.7.3 [2320].</string>
	<key>uidata</key>
	<dict>
		<key>07D583FC-AFE3-47D1-8076-FF78BE066E4E</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>1D6A596A-AC0F-4636-BD4E-54393AF66480</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>26503076-7E71-48DF-BF35-88CBED38F543</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>351629D0-4BED-4019-8E7E-151E71545F00</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>478E5903-DF13-4546-8719-5E29A53D6016</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>7DD49BD6-5445-4547-B438-E8B21E93DAE5</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>8CEA566D-1206-4BCD-B4B6-98744ED00ACB</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>A62E393E-7B4C-4097-90D8-01F20E5FF67D</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>A7D91E46-3C58-4F20-B6A1-8E2C5D7F904B</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>B6427010-7B56-4342-B5AC-85D22C5E5C50</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>C29BE46B-A223-4ADD-B933-2AC28716AC4C</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>C3380F22-0E4A-4095-B226-C78C9E123EC8</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>C55543F5-EAD5-42A8-AD3E-518665F4AA34</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>CA4D035A-9ECF-4080-A991-B5265DBBAD37</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CC12EF8B-97E2-4DA6-989E-6E766336576D</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>E4B73A0C-6F5A-4D72-9B21-0D4C3E8A1F90</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>F2C85B17-7A64-4E39-A8D6-1B5F0C9E2A73</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>40A79E4C-3135-491D-A9F6-31A7F359371D</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>30729D56-8C3D-4383-8348-A71ECCBA106A</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>CDDFCB40-21C8-4F4C-B94E-46FA7586AFF9</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>3E649DB5-CEE0-4B3E-BBA4-03F5F29B3031</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>5F74D9B7-EEE0-4666-B5D4-2478FA7AE687</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>12F36B99-8EF0-4D27-BFD4-5AA673B97B23</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>126C3851-9727-4A71-A74F-1C823C63B88D</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>2A36CC8A-2C93-4152-9DDC-2AFB3A1F137B</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>1470</real>
		</dict>
		<key>AA039462-C1DD-4DB7-ADBA-5472D4D7BD5C</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>1470</real>
		</dict>
		<key>DCC091AB-25B9-4E98-A1E6-C151956B25C8</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>1470</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Open repositories directly</string>
			</dict>
			<key>description</key>
			<string>When enabled, selecting a project opens the repository immediately. When disabled, Alfred shows the project page menu first.</string>
			<key>label</key>
			<string>Quick open</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>quick_open</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>quick_open</key>
		<string>0</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>quick_open</string>
	</array>
	<key>version</key>
	<string>4.2.0</string>
	<key>webaddress</key>
	<string>https://lukewaite.ca</string>
</dict>
</plist>
